:root {
	--accent-color: #a56de2;
  --accent-color-light-2: #e4c6fa;
  --accent-color-light-1: #cd9ef7;
  --accent-color-dark-1: #7239b3;
  --accent-color-dark-2: #452981;
  --brim-background-color: #{var(--accent-color-dark-1)};
  --brim-link-color: white;
  --brim-link-hover-color: #{var(--accent-color-light-2)};
	--foreground-color: #1a1a1a;
	--background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: calc(100vh + env(safe-area-inset-bottom));
  line-height: 1.5;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter Variable", Arial, Helvetica, sans-serif;
  }
}

body > div {
  flex: 1 1 0%;
}

main {
  display: flex;
  overflow-x: auto;
  text-align: center;
  flex-direction: column;
}

article,
section {
  text-align: left;
  max-width: 600px;
  width: 100%;
}

footer {
  --foreground-color: white;
  position: sticky;
  color: var(--foreground-color);
  background: var(--brim-background-color);
  padding: 2rem;
  padding-left: calc(2rem + env(safe-area-inset-left));
  padding-bottom: calc(3rem + env(safe-area-inset-bottom));
  padding-right: calc(2rem + env(safe-area-inset-right));
}

footer a {
  display: inline-block;
  color: var(--brim-link-color);
}

footer a:hover,
footer a:focus {
  color: var(--brim-link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-color);
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.04rem;
  font-weight: $font-weight-bold;
  font-variation-settings: 'wght' $font-weight-bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--accent-color-dark-1);
}

a:hover,
a:active {
  color: var(--accent-color-dark-2);
}

#bypass-block {
  position: absolute;
  top: 0;
  left: -999px;
  width: 1%;
  height: 1%;
  text-align: center;
  font-size: 2rem;
  z-index: -2;
  background: var(--vala-gradient);
  width: 100%;
  color: black; // When off-screen, it contrasts the body backround
  padding: 1rem;
}

#bypass-block:focus,
#bypass-block:focus-visible {
  opacity: 1;
  z-index: 999;
  display: block;
  width: 100%;
  height: auto;
  left:auto;
  background: var(--accent-color-dark-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: #1a1a1a;
  }

  #bypass-block {
    color: white; // When off-screen, it contrasts the body backround
  }

  a {
    color: var(--accent-color-light-1);
  }

  a:hover,
  a:active {
    color: var(--accent-color);
  }
}

@media (min-width: 740px) {
  main {
    align-items: center;
  }
}
