$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

@font-face {
  font-family: "InterVariable";
  src: url("/fonts/InterVariable.ttf") format('truetype');
  font-weight: $font-weight-thin $font-weight-black;
}
