{% import "macros/icon.html" as icon_macros %}

<h2 id="community">Community</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="discourse") }}
        Forums
      </div>
    </dt>
    <dd>Ask questions related to Vala in the GNOME Discourse forums under the "vala" tag.</dd>
    <dd><a href="{{ config.extra.socials.discourse }}">Discourse Forums</a></dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="matrix") }}
        Internals Chat
      </div>
    </dt>
    <dd>Talk to the developers or ask questions about how to contribute to Vala, use the Vala Matrix channel. It also has a IRC bridge.</dd>
    <dd><a href="{{ config.extra.socials.matrix }}">Matrix Room</a></dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="discord") }}
        Community Server
      </div>
    </dt>
    <dd>Connect with the community on the Discord server.</dd>
    <dd><a href="{{ config.extra.socials.discord }}">Discord Server</a></dd>
  </div>
</dl>

<h2>Social Media</h2>
<div class="prose">
  <p>Follow the Vala project across these platforms:</p>
  <ul class="social-links">
    <li><a rel="me" href="{{ config.extra.socials.mastodon }}">{{ icon_macros::sprite_icon(name="mastodon") }}Mastodon</a></li>
    <li><a href="{{ config.extra.socials.twitter }}">{{ icon_macros::sprite_icon(name="twitter") }}Twitter</a></li>
    <li><a href="{{ config.extra.socials.telegram }}">{{ icon_macros::sprite_icon(name="telegram") }}Telegram</a></li>
    <li><a href="{{ config.extra.socials.reddit }}">{{ icon_macros::sprite_icon(name="reddit") }}Reddit</a></li>
  </ul>
</div>
