{% import "macros/icon.html" as icon_macros %}

<h2 id="community">Community</h2>
<div class="prose">
  <h3>Social Media</h3>
  <p>Here are the places we know where there are Vala communities available. (There may be more that we don’t know about):</p>
  <ul class="social-links">
    <li><a href="{{ config.extra.socials.discourse }}">{{ icon_macros::sprite_icon(name="discourse") }}Discourse Forums</a></li>
    <li><a href="{{ config.extra.socials.matrix }}">{{ icon_macros::sprite_icon(name="matrix") }}Matrix (Maintainers and key people are here)</a></li>
    <li><a rel="me" href="{{ config.extra.socials.mastodon }}">{{ icon_macros::sprite_icon(name="mastodon") }}Mastodon</a></li>
    <li><a href="{{ config.extra.socials.discord }}">{{ icon_macros::sprite_icon(name="discord") }}Discord</a></li>
    <li><a href="{{ config.extra.socials.telegram }}">{{ icon_macros::sprite_icon(name="telegram") }}Telegram</a></li>
    <li><a href="{{ config.extra.socials.twitter }}">{{ icon_macros::sprite_icon(name="twitter") }}Twitter</a></li>
    <li><a href="{{ config.extra.socials.reddit }}">{{ icon_macros::sprite_icon(name="reddit") }}Reddit</a></li>
  </ul>
</div>
