{% import "macros/icon.html" as icon_macros %}

<h2 id="community">Community</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="discourse") }}
        {{ trans(key='forums', lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key='forums_description', lang=lang) }}</dd>
    <dd><a href="{{ config.extra.socials.discourse }}">{{ trans(key='discourse_forums', lang=lang) }}</a></dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="matrix") }}
        {{ trans(key='internals_chat', lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key='internals_chat_description', lang=lang) }}</dd>
    <dd><a href="{{ config.extra.socials.matrix }}">{{ trans(key='matrix_room', lang=lang) }}</a></dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="discord") }}
        {{ trans(key='community_server', lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key='community_server_description', lang=lang) }}</dd>
    <dd><a href="{{ config.extra.socials.discord }}">{{ trans(key='discord_server', lang=lang) }}</a></dd>
  </div>
</dl>

<h2>{{ trans(key='social_media', lang=lang) }}</h2>
<div class="prose">
  <p>{{ trans(key='follow_vala_project', lang=lang) }}</p>
  <ul class="social-links">
    <li><a rel="me" href="{{ config.extra.socials.mastodon }}">{{ icon_macros::sprite_icon(name="mastodon") }}Mastodon</a></li>
    <li><a href="{{ config.extra.socials.twitter }}">{{ icon_macros::sprite_icon(name="twitter") }}Twitter</a></li>
    <li><a href="{{ config.extra.socials.telegram }}">{{ icon_macros::sprite_icon(name="telegram") }}Telegram</a></li>
    <li><a href="{{ config.extra.socials.reddit }}">{{ icon_macros::sprite_icon(name="reddit") }}Reddit</a></li>
  </ul>
</div>
