<h2>Why Vala?</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="gears") }}
        Productivity
      </div>
    </dt>
    <dd>Comfortably write your code in an object-oriented way with high level abstractions, while having access to deep integrations with GNOME technolgies such as: GObject, GTK and more!</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="rocket") }}
        Performance
      </div>
    </dt>
    <dd>Vala compiles code down to blazingly fast, fully native binaries. You're also able to reuse existing C Code in your Vala programs as well as generate C Code from Vala.</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="open-source") }}
        Open-Source
      </div>
    </dt>
    <dd>Vala is free and open-source software. It has a great community that contributes and develops the compiler and lots of tooling.</dd>
    <dd><a href="{{ config.extra.tooling.documentation }}">Tooling Documentation</a></dd>
  </div>
</dl>
<a href="{{ get_url(path='@/about/index.md') }}">Learn more about Vala</a>
