<h2>Why Vala?</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="gears") }}
        {{ trans(key="productivity", lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key="productivity_description", lang=lang) }}</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="rocket") }}
        {{ trans(key="performance", lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key="performance_description", lang=lang) }}</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="open-source") }}
        {{ trans(key="open_source", lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key="open_source_description", lang=lang) }}</dd>
    <dd><a href="{{ config.extra.tooling.documentation }}">{{ trans(key="tooling_documentation", lang=lang) }}</a></dd>
  </div>
</dl>
<a href="{{ get_url(path='@/about/index.md', lang=lang) }}">{{ trans(key="learn_more_about_vala", lang=lang) }}</a>
