<h2>Why Vala?</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="gears") }}
        Productivity
      </div>
    </dt>
    <dd>Comfortably write your code in an Object-Oriented way with high level abstractions and no boiler-plate.</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="rocket") }}
        Performance
      </div>
    </dt>
    <dd>Vala compiles code down to blazing-fast, fully native binaries. Link dynamically to reduce compile times and file size.</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="rocket") }}
        Open Source
      </div>
    </dt>
    <dd>Vala is free and open-source software. It has a great community that contributes and develops the compiler and lots of tooling.</dd>
    <dd><a href="{{ config.extra.tooling.documentation }}">Tooling Documentation</a></dd>
  </div>
</dl>
<a href="{{ get_url(path='@/about/index.md') }}">Learn more about Vala</a>
