{% import "macros/icon.html" as icon_macros %}

<h2>Community</h2>
<section>
  <h3>Tooling</h3>
  <p>The community has come together to produce helpful tooling like <a href="#">Vala Languge Server</a>, <a href="#">Vala-Lint</a> and <a href="#">more.</a></p>
</section>
<section>
  <h3>Social Media</h3>
  <p>Here are the places we know where there are Vala communities available. (There may be more that we don’t know about):</p>
  <ul class="social-links">
    <li><a href="#">{{ icon_macros::sprite_icon(name="discourse") }}Discourse Forums</a></li>
    <li><a href="#">{{ icon_macros::sprite_icon(name="matrix") }}Matrix (Maintainers and key people are here)</a></li>
    <li><a href="#">{{ icon_macros::sprite_icon(name="discord") }}Discord</a></li>
    <li><a href="#">{{ icon_macros::sprite_icon(name="telegram") }}Telegram</a></li>
    <li><a href="#">{{ icon_macros::sprite_icon(name="twitter") }}Twitter</a></li>
    <li><a href="#">{{ icon_macros::sprite_icon(name="reddit") }}Reddit</a></li>
  </ul>

</section>
