{% set showcase_data = load_data(path="/assets/showcase-items.json", type="json") %}

<h2>{{ trans(key='showcase', lang=lang) }}</h2>
<ul class="showcase">
  {% for item in showcase_data %}
  <li>
    <a href="{{ item.url }}">
      <img aria-hidden="true" src="{{ get_url(path=item.icon_path) }}" alt="{{ item.name }}">
      <span>{{ item.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
<a href="{{ config.extra.showcase.awesome_vala_url }}">{{ trans(key='view_more_vala_projects', lang=lang) }}</a>
