{% set showcase_data = load_data(path="/assets/showcase-items.json", type="json") %}

<h2>Showcase</h2>
<ul class="showcase">
  {% for item in showcase_data %}
  <li>
    <a href="{{ item.url }}">
      {# Temporary workaround for elementary icon not displaying correctly #}
      {% if loop.index0 == 0 %}
      <img aria-hidden="true" src="{{ get_url(path=item.icon_path) }}" alt="{{ item.name }}">
      {% else %}
      {{ load_data(path=item.icon_path) | safe }}
      {% endif %}
      <span>{{ item.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
<a href="{{ config.extra.showcase.awesome_vala_url }}">View More Vala Projects</a>
