<h2>Tooling</h2>
<div class="prose">
  <h3>Writing</h3>
  <p>Over the years the community has produced tooling to help make the enhance the experience of writing Vala code like: <a href="{{ config.extra.tooling.vala_language_server }}">Vala Language Server</a>, <a href="{{ config.extra.tooling.vala_lint }}">Vala-Lint</a> and <a href="{{ config.extra.tooling.valadoc }}">Valadoc</a>.</p>

  <p>There is support for a wide range of code editors, including: <a href="{{ config.extra.tooling.gnome_builder }}">GNOME Builder</a> (which has built-in support for the language), <a href="{{ config.extra.tooling.vs_code }}">Visual Studio Code</a>, <a href="{{ config.extra.tooling.vim }}">Vim</a> and more.</p>

  <h3>Build Systems</h3>
  <p>While there are plenty of great build systems that can be configured to work with Vala, the preferred build system among the community is <a href="{{ config.extra.tooling.meson }}">Meson</a>.</p>
</div>

<a href="{{ config.extra.tooling.documentation }}">View Tooling Documentation</a>
