<h2>What can you build?</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        GUI Applications
      </div>
    </dt>
    <dd>Perfect integration of GTK, Libadwaita and Granite makes development super simple. Publish easily your apps on Flathub without bloated packages.</dd>
    <dd>
     <ul>
        <li>
          <a href="{{ config.extra.features.gnome_developer_tutorial }}">GNOME Getting Started Tutorial</a>
        </li>
        <li>
          <a href="{{ config.extra.features.elementary_app_tutorial }}">elementary OS App Tutorial</a>
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>
      <div>
        Command Line Programs
      </div>
    </dt>
    <dd>Use a large standard library and use loads of other libraries available for use in Vala.</dd>
  </div>
  <div>
    <dt>
      <div>
        Libraries
      </div>
    </dt>
    <dd>Provide bindings from many other languages and API documentation without manual work. Also, dynamic and static linking are both supported.</dd>
  </div>
</dl>
