<h2>What can you build?</h2>
<dl class="features">
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="gui-app") }}
        {{ trans(key="gui_applications", lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key="gui_applications_description", lang=lang) }}</dd>
    <dd>
     <ul>
        <li>
          <a href="{{ config.extra.features.gnome_developer_tutorial }}">{{ trans(key="gnome_tutorial", lang=lang) }}</a>
        </li>
        <li>
          <a href="{{ config.extra.features.elementary_app_tutorial }}">{{ trans(key="elementary_tutorial", lang=lang) }}</a>
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="terminal") }}
        <span>{{ trans(key="command_line_programs", lang=lang) }}</span>
        
      </div>
    </dt>
    <dd>{{ trans(key="command_line_programs_description", lang=lang) }}</dd>
  </div>
  <div>
    <dt>
      <div>
        {{ icon_macros::sprite_icon(name="library") }}
        {{ trans(key="libraries", lang=lang) }}
      </div>
    </dt>
    <dd>{{ trans(key="libraries_description", lang=lang) }}</dd>
  </div>
</dl>
