{% import "macros/icon.html" as icon_macros %}

{% macro header(type="standard", extended_content="") %}
  {% set classes = [] %}

  {% if type == "extended" %}
      {% set classes = classes|concat(with=type) %}
  {% endif %}

  <header{% if classes|length > 0 %} class="{{ classes|join(sep=' ') }}"{% endif %}>
    <div>
      <nav>
        <div>
          <a aria-label="Home" href="{{ get_url(path='/', lang=lang) }}">
            {{ icon_macros::vala_text() }}
          </a>
        </div>
        <ul>
          <li><a href="{{ get_url(path='@/about/index.md', lang=lang) }}">{{ trans(key='about', lang=lang) }}</a></li>
            <li><a href="{{ config.extra.docs_url }}">{{ trans(key='documentation', lang=lang) }}</a></li>
            <li><a href="{{ get_url(path='/') }}#community">{{ trans(key='community', lang=lang) }}</a></li>
            <li><a href="{{ get_url(path='@/blog/_index.md') }}">{{ trans(key='blog', lang=lang) }}</a></li>
            <li><a href="{{ config.extra.language_source_code_url }}">{{ trans(key='source_code', lang=lang) }}</a></li>
            <li><a href="{{ config.extra.wiki_url }}">{{ trans(key='wiki', lang=lang) }}</a></li>
        </ul>
        <button aria-label="Menu" class="menu-toggle">
          <span class="hamburger"></span>
        </button>
        <!-- Link to Installation section of tutorial -->
        <div>
          <a href="{{ config.extra.tutorial_url }}" class="navbar-button">{{ trans(key='get_started', lang=lang) }}</a>
        </div>
      </nav>
      {%- if type == "extended" %}
        {{ extended_content|safe }}
      {% endif %}
    </div>
  </header>

{% endmacro %}

{% macro cta_stack(primary_content, primary_href, secondary_content, secondary_href) %}
<div class="cta-stack">
  <a href="{{ primary_href }}">{{ primary_content }}</a>

  {% if secondary_content and secondary_href %}
  <a href="{{ secondary_href }}">{{ secondary_content }}</a>
  {% endif %}
</div>
{% endmacro %}

{% macro lang_map(lang_code) %}
  {% if lang_code == 'en' %}
    English
  {% elif lang_code == 'cs' %}
    Čeština
  {% elif lang_code == 'fr' %}
    Français
  {% elif lang_code == 'pt_BR' %}
    Português Brasileiro
  {% elif lang_code == 'ru' %}
    Русский
  {% elif lang_code == 'fi' %}
    Suomi
  {% endif %}
{% endmacro %}
