{% import "macros/icon.html" as icon_macros %}

{% macro header(type="standard") %}
  {% set classes = [] %}

  {% if type == "extended" %}
      {% set classes = classes|concat(with=type) %}
  {% endif %}

  <header{% if classes|length > 0 %} class="{{ classes|join(sep=' ') }}"{% endif %}>
    <div>
      <nav>
        <div>
          <a aria-label="Home" href="{{ get_url(path='/') }}">
            {{ icon_macros::vala_text() }}
          </a>
        </div>
        <ul>
          <li><a href="{{ get_url(path='@/about/index.md')}}">About</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
            <li><a href="https://gitlab.gnome.org/GNOME/vala">GitLab</a></li>
        </ul>
        <button class="menu-toggle">
          <span class="hamburger"></span>
        </button>
        <!-- Link to Installation section of tutorial -->
        <div>
          <a href="#">Get Started</a>
        </div>
      </nav>
      {% if type == "extended" %}
      <h1>A Modern, Fast, Open Source Language</h1>
      {% endif %}
    </div>
  </header>

{% endmacro %}


{% macro features() %}
<ul class="features">
  <li class="feature">
    <div>
      <span>{{ icon_macros::sprite_icon(name="cube") }}</span>
    </div>
    <p class="description">
      Familiar to anyone who has worked with Java or C#, but maintaining API/ABI compatibility with C
    </p>
  </li>
  <li class="feature">
    <div>
      <span>{{ icon_macros::sprite_icon(name="rocket") }}</span>
    </div>
    <p class="description">
      Low memory requirements, fully native execution, and created targeting the GLib Object System
    </p>
  </li>
  <li class="feature">
    <div>
      <span>{{ icon_macros::sprite_icon(name="gears") }}</span>
    </div>
    <p class="description">
      Signals, properties, generics, assisted memory management, error handling, asynchronous programming, and more
    </p>
  </li>
</ul>
{% endmacro %}
