{% import "macros/blog.html" as blog_macros %}

{% macro og_data(title, description) %}
  {{ head_macros::og_data_with_image (title=title, description=description, image_url='') }}
{% endmacro %}

{% macro og_data_with_image(title, description, image_url) %}
  <meta name="description" content="{{ description }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@vala_lang">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ current_url | safe }}">
  <meta property="og:site_name" content="Vala">

  {%- if image_url|trim == '' %}
    {% set image_url = get_url(path="img/vala-hero-wide.png") %}
  {% endif %}
  <meta property="og:image" content="{{ image_url | safe }}">
{% endmacro %}

{% macro article_og_data(article) %}
  {{ head_macros::og_data(title=article.title, description=article.description)}}
  {% if article.date %}
    <meta property="article:published_time" content="{{ article.date | date }}">
  {% endif %}

  {% if article.updated %}
    <meta property="article:modified_time" content="{{ article.updated | date }}">
  {% endif %}

  {% set article_section_object = get_section(path=article.ancestors|last) %}
  {% set article_section = article_section_object.title %}
  <meta property="article:section" content="{{ article_section }}">
{% endmacro %}

{% macro article_og_data_width_image(article, image_url='') %}
  {{ head_macros::og_data_with_image(title=article.title, description=article.description, image_url=image_url)}}
  {% if article.date %}
    <meta property="article:published_time" content="{{ article.date | date }}">
  {% endif %}

  {% if article.updated %}
    <meta property="article:modified_time" content="{{ article.updated | date }}">
  {% endif %}

  {% set article_section_object = get_section(path=article.ancestors|last) %}
  {% set article_section = article_section_object.title %}
  <meta property="article:section" content="{{ article_section }}">
{% endmacro %}
