{% macro og_data(title, description) %}
  {{ head_macros::og_data_with_image (title=title, description=description, image_url='') }}
{% endmacro %}

{% macro og_data_with_image(title, description, image_url) %}
  <meta name="description" content="{{ description }}">
  <meta name="twitter:site" content="@vala_lang">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ current_url | safe }}">

  {%- if image_url|trim == '' %}
    {% set image_url = get_url(path="img/vala-hero-wide.png") %}
  {% endif %}
  <meta property="og:image" content="{{ image_url | safe }}">
{% endmacro %}
