@import '@fontsource/inter/500.css';

.button {
  align-items: center;
  display: flex;
  font-weight: 500;

  > * + * {
    margin-left: 0.5rem;
  }

  @supports (font-variation-settings: normal) {
    font-variation-settings: 'wght' 500;
  }
}
