.containedButton {
  background: var(--contained-button-background);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: var(--contained-button-foreground);
  padding: 0.5rem;
  transition: filter cubic-bezier(0.4, 0, 0.2, 1) 100ms,
    box-shadow cubic-bezier(0.4, 0, 0.2, 1) 100ms;

  &:hover {
    filter: brightness(1.05);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}
