@import '~@fontsource/inter/200.css';

.main {
  display: flex;
  flex-direction: column;
}

.main > * + * {
  margin-top: 1.5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.actionArea {
  display: flex;
}

.actionArea > * + * {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .main > * + * {
    margin-top: 2rem;
  }

  .title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@supports (font-variation-settings: normal) {
  .title {
    font-variation-settings: 'wght' 200;
  }
}
