@import '@fontsource/inter/200.css';

.main {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 1.5rem;

    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }
}

.title {
  font-size: 2.25rem;
  font-weight: 200;
  letter-spacing: -0.03em;
  line-height: 2.5rem;

  @media (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 1;
  }

  @supports (font-variation-settings: normal) {
    font-variation-settings: 'wght' 200;
  }
}

.actionArea {
  display: flex;

  > * + * {
    margin-left: 0.5rem;
  }
}
