<!-- Shows previews of the latest 3 posts in the blog -->
<div class="posts-preview">
  <div class="post-preview">
    <picture alt="Purple background with white text on center that says 'Vala'.">

    </picture>
    <div>
      <div>Post title</div>
      <date>2006-06-15</date>
    </div>
  </div>
  <div class="post-preview">
    <picture alt="Purple background with white text on center that says 'Vala'.">

    </picture>
    <div>
      <div>Post title</div>
      <date>2006-06-15</date>
    </div>
  </div>
  <div class="post-preview">
    <picture alt="Purple background with white text on center that says 'Vala'.">

    </picture>
    <div>
      <div>Post title</div>
      <date>2006-06-15</date>
    </div>
  </div>
</div>
