/*
 * TODO: Reduce to only font-weights and files actually being used in the site.
 */

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-thin;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2"),
       url("/fonts/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-extra-light;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2"),
       url("/fonts/Inter-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-light;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
       url("/fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-medium;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
       url("/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-semi-bold;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
       url("/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-extra-bold;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2"),
       url("/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-black;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2") format("woff2"),
       url("/fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter Variable';
  font-weight: $font-weight-thin $font-weight-black;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
