.grid {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 1fr);
}

.button {
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .header {
    grid-column: span 6;
  }

  .main {
    grid-column: span 3;
  }

  .sampleCode {
    border-radius: 0.25rem;
    grid-column: span 3;
  }

  .feature {
    align-self: flex-start;
    grid-column: span 2;
  }
}
