{% import "macros/head.html" as head_macros %}
{% import "macros/body.html" as body_macros %}
{% import "macros/icon.html" as icon_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The URL may be misspelled or the page you requested no longer exists.">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#7239b3">
  <link rel="stylesheet" href="{{ get_url(path='css/global.css')}}">
  {# Link tags with the media attributes are loaded when needed (depends on the media query) #}
  <link rel="stylesheet" href="{{ get_url(path='css/syntax-theme-light.css') }}" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="{{ get_url(path='css/syntax-theme-dark.css') }}" media="(prefers-color-scheme: dark)">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ get_url(path='apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ get_url(path='apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path='apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path='apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path='apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ get_url(path='apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ get_url(path='apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ get_url(path='apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path='favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ get_url(path='manifest.json') }}">
  <meta name="msapplication-TileColor" content="#a56de2">
  <meta name="msapplication-TileImage" content="{{ get_url(path='ms-icon-144x144.png') }}">

   <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
</head>
<body>
  <a id="bypass-block" href="#main-content">Skip to main content</a>

  {{ body_macros::header() }}

  <div class="container error-404">
    <main id="main-content">
        <h1>Error 404 - Page Not Found</h1>
        <p>The URL may be misspelled or the page you requested no longer exists.</p>
        <a href="{{ get_url(path='/') | safe }}">Go Home</a>
    </main>
  </div>

  {% include "partials/footer.html" %}

  <script src="{{ get_url(path='js/global.js') }}"></script>
</body>
</html>
