{% import "macros/body.html" as body_macros %}
{% import "macros/icon.html" as icon_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#7239b3">
  <link rel="stylesheet" href="{{ get_url(path='css/global.css')}}">
  {# Link tags with the media attributes are loaded when needed (depends on the media query) #}
  <link rel="stylesheet" href="{{ get_url(path='css/syntax-theme-light.css') }}" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="{{ get_url(path='css/syntax-theme-dark.css') }}" media="(prefers-color-scheme: dark)">
  {% block head %} {% endblock head %}
</head>
<body>
  <a id="bypass-block" href="#main-content">Skip to main content</a>

  {% block top_level_header %}
    {{ body_macros::header() }}
  {% endblock %}

  <div class="container">
    <main id="main-content">
      {% block main_content %} {% endblock %}
    </main>
  </div>

  {% include "partials/footer.html" %}

  <script src="{{ get_url(path='js/base.js') }}"></script>
  <script src="{{ get_url(path='js/navbar.js') }}"></script>

  {% block body_end %} {% endblock %}

</body>
</html>
