{% import "macros/body.html" as body_macros %}
{% import "macros/icon.html" as icon_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#7239b3">
  <link rel="stylesheet" href="{{ get_url(path='css/global.css')}}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ get_url(path='icons/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ get_url(path='icons/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path='icons/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path='icons/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path='icons/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ get_url(path='icons/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ get_url(path='icons/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ get_url(path='icons/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='icons/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='icons/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='icons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path='icons/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='icons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ get_url(path='icons/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#a56de2">
  <meta name="msapplication-TileImage" content="{{ get_url(path='icons/ms-icon-144x144.png') }}"> 
  {% block head %} {% endblock head %}
</head>
<body>
  <a id="bypass-block" href="#main-content">Skip to main content</a>

  {% block top_level_header %}
    {{ body_macros::header() }}
  {% endblock %}

  <div class="container">
    <main id="main-content">
      {% block main_content %} {% endblock %}
    </main>
  </div>

  {% include "partials/footer.html" %}

  <script src="{{ get_url(path='js/base.js') }}"></script>
  <script src="{{ get_url(path='js/navbar.js') }}"></script>

  {% block body_end %} {% endblock %}

</body>
</html>
