{% import "macros/body.html" as body_macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/global.css">
  {% block head %} {% endblock head %}
</head>
<body>
  <a id="bypass-block" href="#main-content">Skip to main content</a>
  {% block top_level_header %}
  <header>
    <div>
      <nav>
        <a href="/"><span>Vala Logo</span></a>
          <ul>
        {% block header_links %} {{ body_macros::default_header_links() }} {% endblock %}
          </ul>
        <!-- Link to Installation section of tutorial -->
        <a href="#">Get Started</a>
      </nav>
    </div>
  </header>
  {% endblock %}
  <main id="main-content">
    {% block main_content %} {% endblock %}
  </main>

  <footer>
    {% block footer %} {% endblock %}
  </footer>

  {% block body_end %} {% endblock %}

</body>
</html>
