{% extends "base.html" %}

{% block head %}
<title>{{ section.title }}</title>
{{ head_macros::og_data(title=section.title, description=section.description) }}
{% endblock head %}

{% block main_content %}
  <section class="standalone">
    <h1>Blog</h1>
    <ul>
      <li>
        {% for post in paginator.pages %}
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            <time datetime="{{ post.date }}">{{ post.date | date }}</time>
        {% endfor %}
      </li>
    </ul>
  </section>

  <nav class="pagination">
      {% if paginator.previous %}
          <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      {% if paginator.next %}
          <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
  </nav>

{% endblock %}
