{% extends "base.html" %}

{% block head %}
<title>{{ section.title }}</title>
{% endblock head %}

{% block main_content %}
  <section>
    {{ section.content|safe }}
  </section>

  <section>
    <h2>Posts</h2>

    {% for post in paginator.pages %}
        <a href="{{ post.permalink }}">{{ post.title }}</a>
    {% endfor %}
  </section>

  <nav class="pagination">
      {% if paginator.previous %}
          <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      {% if paginator.next %}
          <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
  </nav>

{% endblock %}
