{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/css/prism-line-numbers.css">
{% endblock %}

{% block top_level_header %}
  <header class="extended">
    <nav>
      <a href="/"><span>Vala Logo</span></a>
      <ul>
        <li><a href="{{ get_url(path='@/about/index.md')}}">About</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
        <li><a href="https://gitlab.gnome.org/GNOME/vala">GitLab</a></li>
      </ul>
      <!-- Link to Installation section of tutorial -->
      <a href="#">Get Started</a>
    </nav>
    <h1>A Modern, Fast Open Source Language</h1>
  </header>
{% endblock %}

{% block main_content %}
  {% set sample_code = load_data(path="content/sample.vala") %}

  <pre class="line-numbers"><code class="language-vala">{{ sample_code }}</code></pre>
{% endblock %}

{% block body_end %}
<script src="/js/prism.js"></script>
<script src="/js/prism-line-numbers.js"></script>
{% endblock %}
