{% extends "base.html" %}
{% import "macros/blog.html" as blog_macros %}
{% import "macros/head.html" as head_macros %}

{% block head %}
<title>{{ section.title }} </title>
{{ head_macros::og_data(title=section.title, description=section.description) }}
<link rel="stylesheet" href="{{ get_url(path='css/index.css') }}">
{% endblock %}

{% block top_level_header %}
  {% set heading = "<h1>A Familiar Way To Develop Applications</h1>"|trim %}
  {{ body_macros::header(type="extended", extended_content=heading) }}
{% endblock %}

{% block main_content %}
  {{ load_data(path="assets/code-sample.md") | markdown(inline=true)|safe }}

  {{ body_macros::cta_stack(primary_content="Get Started", primary_href=config.extra.tutorial_url, secondary_content="View Source Code", secondary_href=config.extra.language_source_code_url) }}

  <section>
    {% include "partials/features.html" %}
  </section>

  <section>
    {% include "partials/blog/latest_blog_posts.html" %}
  </section>

  <section>
    {% include "partials/showcase.html" %}
  </section>

  <section>
    {% include "partials/tooling.html" %}
  </section>

  <section>
    {% include "partials/community.html" %}
  </section>

  {{ body_macros::cta_stack(primary_content="Get Started", primary_href=config.extra.tutorial_url, secondary_content="View Source Code", secondary_href=config.extra.language_source_code_url) }}

{% endblock %}


{% block body_end %}
{% endblock %}
