{% extends "base.html" %}

{% block head %}
<title>{{ page.title }}</title>

<link rel="alternate" hreflang="{{ config.default_language }}" href="{{ get_url(path=current_path|replace(from='/' ~ lang ~ '/', to=''), lang=config.default_language) }}">

{% for lang_code, _ in config.languages %}
  {% if lang_code != config.default_language %}
    <link rel="alternate" hreflang="{{ lang_code }}" href="{{ get_url(path=current_path|replace(from='/' ~ lang ~ '/', to=''), lang=lang_code) }}">
  {% endif %}
{% endfor %}

{% if lang != config.default_language %}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ get_url(path=current_path, lang=lang) }}">
{% endif %}

<link rel="alternate" hreflang="x-default" href="{{ get_url(path=current_path|replace(from='/' ~ lang ~ '/', to=''), lang=config.default_language) }}">
{{ head_macros::article_og_data(article=page) }}
{% endblock head %}

{% block main_content %}
<article>
  {{ page.content|safe }}
</article>
{% endblock %}
