// .feature {
//   max-width: 16.25rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .feature > div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--accent-color-dark-1);
//   border-radius: 100%;
//   width: 8rem;
//   height: 8rem;
// }

// .feature .icon {
//   width: 4rem;
//   height: 4rem;
//   fill: white;
// }

// .features {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .features .feature {
//   margin-top: 4rem
// }

// .features .feature:first-child {
//   margin-top: 0;
// }

// @media (min-width: 700px) {
//   .features {
//     align-items: stretch;
//     flex-direction: row;
//   }

//   .features .feature {
//     margin-top: 0;
//     margin-right: 4rem;
//   }

//   .features .feature:last-child {
//     margin-right: 0;
//   }
// }

.features {
  display: flex;
  flex-direction: column;
}

.features div {
  border: 1px solid var(--card-border-color);
  border-radius: 0.75rem;
  padding: 1.5rem 1.25rem 4rem 1.25rem;
  text-align: left;
}

.features > :first-child {
  margin-top: 0;
}

.features > * {
  margin-top: 2rem;
}


/*
  Same styling as a <h3> since a <h3> element can't be used
  a inside <dt> element: https://html.spec.whatwg.org/multipage/grouping-content.html#the-dt-element
*/

.features dt {
  @extend h3;
}

.features dd {
  margin-left: 0;
  margin-top: 1rem;
}


@media (min-width: 700px) {
  .features {
    flex-direction: row;
  }

  .features > :first-child {
    margin-left: 0;
  }

  .features > * {
    margin-top: 0;
    margin-left: 1.5rem;
    max-width: 25rem;
  }
}
