.features {
  display: flex;
  flex-direction: column;
}

.features > div {
  border: 1px solid var(--card-border-color);
  border-radius: 0.75rem;
  padding: 1.5rem 1.25rem 2.5rem 1.25rem;
  text-align: left;
}

.features > :first-child {
  margin-top: 0;
}

.features > * {
  margin-top: 2rem;
}

/*
  Same styling as a <h3> since a <h3> element can't be used
  a inside <dt> element: https://html.spec.whatwg.org/multipage/grouping-content.html#the-dt-element
*/
.features dt {
  @extend h3;
}
.features dt > div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.features dt svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--accent-color-dark-1);
  margin-right: 0.75rem;
}

.features dd {
  margin-left: 0;
  margin-top: 1rem;
}

@media (min-width: 700px) {
  .features {
    flex-direction: row;
  }

  .features > :first-child {
    margin-left: 0;
  }

  .features > * {
    margin-top: 0;
    margin-left: 1.5rem;
    max-width: 25rem;
  }
}
