body > header {
  width: 100%;
  background: var(--vala-gradient);
  display: block;
  --foreground-color: white;
  color: var(--foreground-color);
}

body > header > div  {
  padding: 1.5rem 1rem;
  margin: 0 auto;
  max-width: 76.25rem;
}

body > header nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
}

/* Align better with Vala Logo */
body > header nav ul,
body > header nav > :last-child {
  margin-left: 0.25rem;
}


body > header nav ul {
  grid-area: 2 / 1 / auto / -1;
  flex: 1 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-block: 0;
  margin-left: 0.25rem;
}

body > header nav > :first-child svg {
  fill: white;
  width: 4rem;
  height: 1.6rem;
}

body > header nav > :first-child a:hover  svg,
body > header nav > :first-child a:focus svg {
  fill: var(--accent-color-light-1);
}

body > header a {
  display: block;
  color: var(--accent-color-light-2);
  text-decoration: none;
}

body > header a:hover,
body > header a:focus {
  color: white;
}

body > header nav > :last-child {
  grid-row: 1;
  grid-column-end: -2;
}

.menu-toggle {
  display: none;
  grid-column-end: -1;
  padding: 0.3rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--accent-color-light-2);
  border-radius: 0.3rem;
  cursor: pointer;
}

.hamburger {
  display: block;
  position: relative;
  height: 2px;
  width: 1rem;
  background-color: var(--accent-color-light-2);
  transition: all 0.2s ease;

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color-light-2);
    transition: all 0.2s ease;
  }

  &::before { bottom: 300%; }
  &::after { top: 300%; }

  &.open {
    background-color: transparent;

    &::before, &::after { inset: 0; }
    &::before { transform: rotate(45deg); }
    &::after { transform: rotate(-45deg); }
  }
}

@media (max-width: 700px) {

  body > header nav > :last-child {
    margin-inline: 1rem;
  }

  body:not(.js-enabled) > header nav ul {
    margin: 2rem 0 0 0;
  }

  body.js-enabled > header nav ul {
    display: block;
    text-align: left;
    margin-block: 0px;
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;

    li { margin-top: 1rem; }
    li:first-child { margin-top: 2rem; }
  }

  body.js-enabled .menu-toggle {
    display: flex;
  }
}

@media (min-width: 700px) {
  body > header {
    margin: auto 0;
  }

  body > header a {
    display: inline-block;
  }

  body > header > div  {
    padding: 0.75rem 1rem;
  }

  body > header nav {
    display: flex;
    align-items: center;
  }

  body > header nav > :first-child,
  body > header nav > :last-child {
    flex: 0 1 20%;
  }

  body > header nav > :first-child {
    padding-left: env(safe-area-inset-left);
  }

  body > header nav > :last-child {
    text-align: right;
    padding-right: env(safe-area-inset-right);
  }

  body > header nav ul,
  body > header nav :last-child {
    margin-left: 0rem;
  }
}
