.showcase {
  display: grid;
  grid-template-columns: 1f;
  max-width: 43.75rem;
  margin: 0 auto;
  row-gap: 2.5rem;
}

.showcase li {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.showcase .image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--card-border-color);
  border-radius: 4px;
}

.showcase .image-frame img {
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 25rem;
  border-radius: 4px;
}
.showcase li a,
.showcase .title {
  transition: color 0.3s ease;
}

.showcase .title {
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  font-size: 1.5rem;
  color: var(--foreground-color);
}

.showcase li a {
  display: block;
  flex: 1 1 0%;
  flex-direction: column;
  text-decoration: none;
  color: var(--label-text-color);
  font-size: 1.25rem;
  width: 100%;
}

.showcase li a:hover,
.showcase li a:focus,
.showcase li a:hover .title,
.showcase li a:focus .title {
  // background: var(--accent-color-light-2);
  color: var(--accent-color-dark-1);
}

.showcase li a span {
  margin-top: 1rem;
  display: inline-block;
  width: 11.25rem;
}

.showcase li a img {
  width: 8rem;
  height: 8rem;
  margin-right: 0;
}

.showcase li a svg {
  width: 8rem;
  height: 8rem;
  fill: none;
  margin-right: 0;
}

// .showcase li a:hover svg,
// .showcase li a:focus svg {
//   fill: none;
// }

// @media (min-width: 480px) {
//   .showcase {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (min-width: 800px) {
//   .showcase {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

@media (prefers-color-scheme: dark) {
  .showcase li a:hover,
  .showcase li a:focus,
  .showcase li a:hover .title,
  .showcase li a:focus .title {
    // background: var(--accent-color-dark-1);
    // border-radius: 4px;
    color: var(--accent-color);
  }
}
