.showcase {
  display: grid;
  grid-template-columns: 1f;
  max-width: 43.75rem;
  margin: 0 auto;
  row-gap: 2.5rem;
}

.showcase li {
  display: inline-flex;
  justify-content: center;
  flex: 1 1 0%;
}

.showcase li a {
  transition: background 0.3s ease;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--foreground-color);
  font-size: 1.25rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  padding: 1rem;
  border-radius: 4px;
}

.showcase li a:hover,
.showcase li a:focus {
  background: var(--accent-color-light-2);
}

.showcase li a span {
  margin-top: 1rem;
  display: inline-block;
  width: 11.25rem;
}

.showcase li a img {
  width: 8rem;
  height: 8rem;
  margin-right: 0;
}

.showcase li a svg {
  width: 8rem;
  height: 8rem;
  fill: none;
  margin-right: 0;
}

.showcase li a:hover svg,
.showcase li a:focus svg {
  fill: none;
}

@media (min-width: 480px) {
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  .showcase li a:hover,
  .showcase li a:focus {
    background: var(--accent-color-dark-1);
    border-radius: 4px;
  }
}
