.showcase {
  display: flex;
  max-width: 43.75rem;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

/*
  Reduce the gap between the showcase grid and the link at the end of
  the section
*/
section .showcase + a {
  margin-top: 0;
}

.showcase li {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 4rem;
  flex: 1 1 0%;

}

.showcase li:first-child {
  margin-left: 0;
}

.showcase li a {
  transition: background 0.3s ease;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--foreground-color);
  font-size: 1.25rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  padding: 2rem;
}

.showcase li a:hover {
  background: var(--accent-color-light-2);
  border-radius: 4px;
}

.showcase li a span {
  margin-top: 1rem;
  display: inline-block;
}

@media (min-width: 375px) {
  .showcase {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .showcase li {
    flex: 1 1 calc(100% / 2);
  }
}

@media (min-width: 800px) {
  .showcase li {
    flex: 1 1 calc(100% / 3);
  }
}

@media (prefers-color-scheme: dark) {
  .showcase li a:hover {
    background: var(--accent-color-dark-1);
    border-radius: 4px;
  }
}
