header {
  width: 100%;
  background: linear-gradient(157deg, #9141ac, #813d9c);
  display: block
}

header nav {
  @extend %container !optional;
  display: flex;
  flex-direction: column;
}

header a {
  color: white;
}
