$container-max-width: 76.25rem;

.container, %container {
  display: block;
  margin: 0 auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: calc(0.75rem + env(safe-area-inset-left));
  padding-right: calc(0.75rem + env(safe-area-inset-right));
  max-width: $container-max-width;
  width: 100%;

  @media (min-width: 700px) {
    padding-left: calc(2rem + env(safe-area-inset-left));
    padding-right: calc(2rem + env(safe-area-inset-right));
  }

  @media (min-width: calc($container-max-width - 2.5rem) ) {
    padding-left: 0;
    padding-right: 0;
  }
}
